<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauren's website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Courgette&family=Faculty+Glyphic&family=Fleur+De+Leah&family=Geist+Mono:wght@100..900&family=Germania+One&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=New+Rocker&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Satisfy&family=Varela+Round&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <div id="header-container">
        <header class="d-flex flex-wrap justify-content-center py-3 container">
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img height="220" src="\assets\2tKWUnSQ9qiYUTIrQB4abDnuhkl.svg" id="logo">
          </a>
    
          <ul class="nav nav-pills" id="nav-bar">
            <li class="nav-item"><a href="/" class="nav-link black">Home</a></li>
            <li class="nav-item"><a href="/AboutMe :D" class="nav-link black">About</a></li>
            <li class="dropdown">
                <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdown-button-navbar"type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <a href="#" id="dropdownLink" class="nav-link black">
                    Gallery
                  </a>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Personal :D">Personal</a></li>
                  <li><a class="dropdown-item" href="/Pets :D">Pets</a></li>
                  <li><a class="dropdown-item" href="/Portraits :D">Portraits</a></li>
                  <li><a class="dropdown-item" href="/Streets :D">Street</a></li>
                  <li><a class="dropdown-item" href="/Food :D">Food</a></li>
                  <li><a class="dropdown-item" href="/Nature :D">Nature</a></li>
                </ul>
              </div>

            </li>
            <li class="nav-item"><a href="/ContactMe :D" class="nav-link black">Contact</a></li>
          </ul>
        </header>
      </div>