html{
    height: 100%;
}

body{
    padding-top: 110px;
    height: 100%;
    background-color: rgb(199, 199, 199)!important;
}

.linkDecoration{
    text-decoration: none;
}

/*Header Styling*/
header{
    width: 100%;
    height: 100%;
}

#header-container{
    background-color: rgb(199, 199, 199)!important;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#nav-bar{
    font-size: 1.3em;
}

#dropdown-button-navbar{
    font-size: 1em;
    padding: 0;
    border: none;
    transition: background-color;
}
.nav-link:hover{
    background-color: rgb(199, 199, 199)!important;
    color: #ffffff!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgb(199, 199, 199)!important;
}

#logo{
    height: 75px;
}

.black{
    color: #212529!important;
}

/*Component Classes*/
.customButtonTerracota{
    background-color: #E2725B!important; 
    color: white!important;
    transition: background-color 0.5s;
}
.customButtonTerracota:hover{
    background-color: #C85C4D!important;
}


/*Fonts*/
.fleur-de-leah-regular {
    font-family: "Fleur De Leah", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/*Homepage Styling*/
.carousel-inner, .carousel-outer {
    height: 100%; /* Adjusts to 80% of the viewport height */

}

#carousel-title-div{
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carousel-title-text{
    font-size: 5em;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 760px;
    min-height: 300px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the space without distortion */
}

#carousel-p-text{
    font-size: larger;
}

#hero-outer{
    overflow-x: hidden;
    margin-top: 110px;
}

#jumbotron-outer{
    background-color: rgb(90, 90, 90)!important;
}

#imageContainer{
    overflow: hidden;
    position: relative;
}

#pictureSection{
    width: 100%;
    height: auto;
    min-height: 500px;
    z-index: 1;
    object-fit: cover;
}

.card-cover {
    position: relative;
    overflow: hidden;
}

.imageCard{
    transition: 0.5s transform ;
}

#formContainer{
    position: absolute; 
    z-index: 3; 
    top: 0px; 
    left: 0px; 
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.card-cover:hover .imageCard{
    transform: scale(1.1);
}

#formh1{
    display: none;
}

/*Media Queries*/
@media (max-width: 1400px) {
    #h1{
        font-size: 3em!important;
    }
    
    #p{
        font-size: 1.3em!important;
    }
}

@media (max-width: 1200px) {
    #h1{
        font-size: 2.2em!important;
    }

    #p{
        font-size: 1.1em!important;
    }
}

@media (max-width: 992px) {
    #h1, #p{
        display: none;
    }

    #formh1{
        display: block;
        font-size: 1em!important;
    }

    #form{
        margin-left: -220px!important;
        width: 400px;
    }
}

@media (max-width: 768px) {
    body{
        padding-top: 201px;
    }

    #carousel-title-text{
        font-size: 3.4em;
        text-align: center;
        margin-inline: 10px;
    }

    #carousel-p-text{
        font-size: smaller;
    }

    #form{
        width: 240px;
        height: 360px;
    }
    
}

@media (max-width: 576px) {

    #carousel-title-text{
        font-size: 3em;
    }

    #carousel-p-text{
        font-size: small;
    }

    #form{
        position: absolute;
        top: 50%!important;
        left: 50%!important;
        transform: translate(41.5%, -50%)!important;
    }
    

}

@media (max-width: 405px) {
    
    body{
        padding-top: 182px;
    }

    #carousel-title-text{
        font-size: 2.5em;
    }

    #carousel-p-text{
        font-size: small;
    }

    #nav-bar{
        font-size: 0.9em;
    }
    

}

@media (max-width: 322px) {
    
    body{
        padding-top: 220px;
    }

    

}